---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;

import Sidenav from "../components/Sidenav.astro";
---

<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={desc} />
    <title>{title}</title>

    <meta name="title" content={title} />
    <meta name="description" content={desc} />
  </head>
  <body class="absolute font-mono overflow-hidden bg-bg text-text flex">
    <Sidenav />
    <div class="p-12">
      <slot />
    </div>
  </body>
</html>
